{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
	{% if error %}
		<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}
	<div class="container-fluid">
		<div class="col-md-12 offset-md-1">
			<div class="card">
				<div class="header">
					<h4 class="title">Connexion</h4>
				</div>
				<form method="POST">
				<div class="content">
					<h5><label for="inputUsername" class="sr-only">Pseudo</label></h5>
					<div class='control'>
						<input type="username" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Pseudo" required autofocus>
					</div>
					<h5><label for="inputPassword" class="sr-only">Mot de passe</label></h5>
					<div class='control'>
						<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
					</div>

				</div>
				<div class='footer'>
					<div class='container-fluid'>
						<button class='btn btn-success' type='submit'>Se connecter</button>
					</div>
				</div>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				</form>
			</div>
		</div>
	</div>
{% endblock %}
